/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h4 {
  color: black;
}

/* Style the header */
header {
  background-color: #7f2121;
  text-align: center;
  font-size: 35px;
  color: white;
  border: 1px solid black;
}

#logo {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  background-color: #c42b31;
  padding: 5px;
  border: 1px solid black;
}

/* Style the navbar */
nav {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 50px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dropdownMenu {
  background-color: #ffffff;
  color: black;
}

li {
  float: none;
  color: black;
}

#top-text {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 75%;
}

#picture-box {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 75%;
  height: 33%;
  background-color: #b46e6b;
  border: 1px solid black;
}

#pizza1 {
  width: 83%;
  height: 83%;
  object-fit: contain;
}

#pizza2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#pizza3 {
  width: 83%;
  height: 83%;
  object-fit: contain;
}

#bottom-text {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 75%;
}

#specials-box {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 75%;
  height: 33%;
  min-height: 200px;
  background-color: #b46e6b;
  border: 1px solid black;
  padding-top: 10px;
}

#order-online-box {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 75%;
  height: 60%;
  background-color: #b46e6b;
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}

#doordash {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#uber-eats {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#grubhub {
  width: 130%;
  height: auto;
  object-fit: contain;
}

#order-online-box p {
  font-size: large;
  font-weight: 500;
}

#order-online-text {
  padding-bottom: 30px;
}

#footer-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
/* Join our team */
#team-img {
  padding: 10px 15px;
}

#small-btn-apply {
  width: 50%;
  margin: 50px;
  max-width: 150px;
  border: 5px solid black;
  font-weight: bolder;
}

/* SVG Icon changes */

#svg-icon-scaled {
  width: 50px;
  height: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover,
#footer-links a:hover {
  background-color: #111;
  color: blue;
  text-decoration: underline blue;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* width:100%; */
  /* height: 70px; */
  background-color: #F9AF40;
}